@media screen and (min-width: 900px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        gap: 1rem;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
    }

}